#whitespace {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #b2b2b2;
}

#frame {
  position: relative;
}

#frame input[type=text] {
  padding: 15px 5px;
  margin: 0;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  border: 0;
}

canvas {
  background-color: white;
}

canvas[data-cursor=pen] {
  cursor: url("/images/pencil.gif");
}

canvas[data-cursor=text] {
  cursor: url("/images/text.gif");
}

#toolbelt {
  box-sizing: border-box;
  height: 60px;
  border-top: 1px solid #b2b2b2;
  text-align: center;
  padding: 10px 0;
}
