#whitespace {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #b2b2b2;
}

canvas {
  background-color: white;
  cursor: url("/images/pencil.gif");
}

#toolbelt {
  box-sizing: border-box;
  height: 60px;
  border-top: 1px solid #b2b2b2;
  text-align: center;
  padding: 10px 0;
}
