body {font-family: helvetica, arial, sans-serif; font-size: 20px; margin: 0; padding: 0; background-color: #fbfbfb;}

a {text-decoration: none;display: inline-block; cursor: pointer;}

a:visited {text-decoration: none;}

p { margin: 0;}

p.footer_text {
	font-size: 10px;
	color:#b2b2b2;
	display: block;
	text-align: center;
	padding: 8px;
  margin-bottom: 20px
}

a.hero_logo {
  background-image: url('/images/hero_logo_2X.jpg');
  background-size: 130px 60px;
  height: 60px;
  width: 130px;
  text-indent: -9999px;
  margin: 0 auto;
  display: block;
}

h5 {margin: 0px auto 0;}

input[type=text], .rounded {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

header {
	height: 60px;
	background-color: white;
	width: 100%;
	border-bottom: solid 1px #b2b2b2;
  position: relative;
}

#page {
  padding-top: 30px;
}

#login {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	margin: 0 auto;
	width: 100%;
	border-top: solid 1px #b2b2b2;
  background-color: white;
}
